body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */
#Hero-Section {
  background-image: url("../img/zapatillas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */
#Mis-trabajos .image-top {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Mis commits */
#Mis-Commits{
  background-color: cornflowerblue !important;
}
#Mis-Commits .image-top {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.row {
  justify-content: center;
}

/* Cards */
h2{
  color:#212529;
  font-size: 20px;
}
.card-text{
  color: #707070;
}
.card{
  padding: 20px;
  border-radius: 20px;
}
.p13{
  font-size: 13px;
}
.izq{
  text-align: right;
}
.sp1{
  font-size: 16px;
  color: #707070;
  padding-right: 15px;
}
.sp2{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #28A745;
  padding-right: 15px;
}

/* Contacto */
#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }
  .navbar-brand{
    width: 100px;
  }
}

a{
  color:aqua;
}

.colaborador {
  margin: auto;
  width: 60%;
}